.task-list {
    flex: 1 1 0;
    padding: 1.25rem;
    background-color: #fffdf7;
}

.task-list .task-list-top {
    display: flex;
    justify-content: space-between;
    margin: 0.625rem 0 1.25rem;
}

.task-list .task-list-top > h2 {
    margin: 0;
}

.task-list .task-list-top > input {
    width: 10rem;
}

.task-list h2 {
    font-size: 1rem;
}

.task-list .task-list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
    padding: 0.625rem;
    border: 1px solid #483c32;
    box-shadow: rgba(99, 99, 99, 0.6) 2px 3px 8px 0;
}

.task-list .task-list-item:hover {
    background-color: rgba(239, 223, 187, 0.4);
}

.task-list .task-list-item > h3 {
    display: flex;
    margin: 0.188rem 0;
    font-size: 0.75rem;
}

.task-list .task-list-item .badge {
    margin-right: 0.313rem;
    padding: 0.188rem 0.313rem;
    border-radius: 1.25rem;
    font-size: 0.5rem;
    font-weight: 400;
    color: #fffdf7;
    background-color: #9f8170;
}

.task-list .task-list-item .badge.badge-completed {
    background-color: #8cbed6;
}

.task-list .task-list-item .badge.badge-inprogress {
    background-color: #483c32;
}

.task-list .task-list-item .badge.badge-pending {
    color: #483c32;
    background-color: #efdfbb;
}

.task-list .task-list-item p {
    font-size: 0.75rem;
    margin-top: 0 ;
}

.task-list .task-list-actions button {
    margin-right: 0.313rem;
}