.task-form h2 {
    font-size: 1rem;
}

.task-form .form-group {
    margin-bottom: 0.625rem;
}

.task-form .form-group > label {
    font-size: 0.75rem;
    font-weight: bold;
}

.task-form .form-group > input,
.task-form .form-group > textarea,
.task-form .form-group > select {
    width: 100%;
    margin: 0;
    padding: 0.313rem;
    border: 0.063rem solid #483c32;
    border-radius: 0.188rem;
    font-size: 0.75rem;
    outline: none;
}

.task-form .form-group > input:focus,
.task-form .form-group > textarea:focus,
.task-form .form-group > select:focus {
  border: 1px solid #8cbed6;
  background-color: #fffdf7;
}

.task-form .form-actions {
    margin-top: 1.25rem;
}

.task-form .form-actions button {
    margin-right: 0.313rem;
}