/* General CSS
------------------------------------------------- */
:root {
  font-family: system-ui, Avenir, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1rem;
  background: linear-gradient(to right, #483c32 50%, #efdfbb 50%);
}

h1,
h2,
h3,
h4 {
  margin: 0.625rem 0;
}

main {
  display: flex;
  justify-content: center;
  width: calc(100% - 4rem);
  margin: -0.313rem auto 1.25rem;
  border: 1px solid #483c32;
  background-color: #efdfbb;
}

.error {
  color: red;
}

/* Forms CSS
------------------------------------------------- */
.btn {
  padding: 0.313rem 0.625rem;
  border: 1px solid #9f8170;
  border-radius: 0.188rem;
  font-size: 0.75rem;
  color: #ffffff;
  background-color: #483c32;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn.btn-secondary {
  border: 1px solid #483c32;
  color: #483c32;
  background-color: #efdfbb;
}

input,
textarea,
select {
    width: 100%;
    margin: 0;
    padding: 0.313rem;
    border: 0.063rem solid #483c32;
    border-radius: 0.188rem;
    font-size: 0.75rem;
    outline: none;
}

input:focus,
textarea:focus,
select:focus {
  border: 1px solid #8cbed6;
  background-color: #fffdf7;
}